h1 {
  border: 2px dashed red;
  width: 50%;
  font-size: 3rem;
  /* good example of using "em" */
  padding: 0.5em;
}
main {
  font-size: 2rem;
}
p {
  /* default value of the font size */
  /* if we decide or hardcoded the size of the font */
  /* this would not change with the user preferences */
  /* font-size: 16px; */
  font-size: 2rem;
  /* this will check the size of the parent element and text-emphasis-position */
  /* Multiplied so it is  */
  /* def = 16px, main font-size: 2rem = 32px, p font size= 2*main fontzise =64px ; */
  width: 40ch;
}
