html {
  font-size: 22px;
}
body {
  background-color: #333;
  color: whitesmoke;
  font-family: Century Gothic;
}
a {
  color: aliceblue;
}
a:visited {
  color: lightgray;
}
a:hover,
a:active {
  color: #eee;
}
