html {
  font-size: 16px;
}
body {
  background-color: #333;
  color: whitesmoke;
  font-family: Century Gothic;
}
a {
  color: aliceblue;
}
a:visited {
  color: lightgray;
}
a:hover,
a:active {
  color: #eee;
}
table,
tr,
th,
td,
caption {
  border: 1px solid #eee;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}
h1 {
  border: dashed white 0.5px;
  padding: 1rem;
}
